<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<form id="search-form" class="form-inline" action="/search" method="post">
	<input type="text" placeholder="Search Area" name="searchString"/>
	<button type="submit" class="btn btn-primary">Search</button>
</form>





</body>
</html>