<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


<h1> Sanity Check </h1>

<% for (let i = 0; i < nearbyResArray.length; i++){%>

	<h3><%=nearbyResArray[i].name %></h3>

<%}%>

</body>
</html>